@font-face {
    font-family: $ffOpenSansLight;
    src: url(../fonts/OpenSans/OpenSans-Light.ttf);
    font-weight: 300px;
}

@font-face {
    font-family: $ffOpenSansReg;
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
    font-weight: 400px;
}

@font-face {
    font-family: $ffOpenSansSemiBold;
    src: url(../fonts/OpenSans/OpenSans-SemiBold.ttf);
    font-weight: 600px;
}

@font-face {
    font-family: $ffOpenSansBold;
    src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
    font-weight: 700px;
}

@font-face {
    font-family: $ffMyriadProReg;
    src: url(../fonts/MyriadPro/MYRIADPRO-REGULAR.OTF);
    font-weight: 400;
}

@font-face {
    font-family: $ffLemonTuesdayReg;
    src: url(../fonts/LemonTuesday/Lemon\ Tuesday.otf);
    font-weight: 400;
}

@font-face {
    font-family: $ffRobotoSlabBold;
    src: url(../fonts/RobotoSlab/RobotoSlab-Bold.ttf);
    font-weight: 700;
}