@media (min-width:1170px) {
    .reasons {
        &__wrapper {
            @include flex(center, wrap);
            flex-direction: row;
        }

        &__item {
            display: flex;
            flex-basis: 18%;
            padding: 0 10px;
        }

        &__item-2 {
            order: 4;
        }

        &__item-3 {
            order: 7;
        }

        &__item-4 {
            order: 2;
        }

        &__item-5 {
            order: 5;
        }

        &__item-6 {
            order: 8;
        }

        &__item-7 {
            order: 10;
        }

        &__item-8 {
            order: 3;
        }

        &__item-8 {
            order: 6;
        }

        &__item-10 {
            order: 9;
        }

        &__btn {
            display: none;
        }
    }

    .container {
        max-width: 1140px;
        margin: 0 auto;
    }
}