.main-slider {
    width: 100%;
   
    &__title {
        padding-top: 40px;
        max-width: 200px;
        @include font(49px, $ffLemonTuesdayReg, 400, $color-main, capitalize, inherit, 1.2);
    }

    &__about {
        @include font(12px, $ffOpenSansReg, 400, #fff, lowercase, inherit, 1.2);
        font-style: italic;
    }

    &__btn {
        display: none;
    }

    &__sale {
        @include flex(center,inherit);
        flex-direction: column;
        position: absolute;
        left: 60%;
        top: 95px;
        width: 65px;
        height: 65px;
        @include font(14px, $ffOpenSansBold, 400, #fff, lowercase, center, 1.2);
        background-color:$color-red ;
        border-radius: 50%;
    }
.slick-slide{
    min-height: 240px;
}
    &__item {
        position: relative;

        @include bgImg(url('../images/main-slider-bg.png'), no-repeat, center center);
        background-size: cover;
    }

    // style for slick-dots

.slick-dots{
    @include flex(inherit,inherit);
    list-style-type: none;
    position: absolute;
    left: 50%;
    bottom:-20px;
    transform: translateX(-50%);
    li+li{
        margin-left: 35px;
    }
    li{
        button{
            height: 0;
            width: 0;
            appearance: none;
            font-size: 0;
            display: none;
       
        }
        position: relative;
        &::after{
            @include pseudo;
            left: 0;
            top: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid $color-grey;
        }
    }
    .slick-active{
        &::after{
            background-color: $color-main;
            border-color:$color-main;
        }
    }
}
}

.container {
    padding: 0 15px;
}

